@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
}
* body {
  background-color: #111;
}

.container__header {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  font-family: "Alfa Slab One", cursive;
}

 .container__header__title--text {
  cursor: default;
}

/* .container__header__menu {
  padding-left: 5px;
} */

.container__header__OrdenDiv {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  padding-right: 5px;
}
.div.container__header__optionDiv--list{
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  cursor: default;
  margin-top: 0;
  margin-left: 0;

}

.container__header__OrdenDiv--count {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  cursor: default;
  margin-top: 0;
  margin-left: 0;
  background-color: red;
}

.container__header__OrdenDiv--list {
  display: none;
  min-width: 100px;
  right: 0;
  top: 50px;
  position: absolute;
  z-index: 999;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: rgba(3, 3, 3, 0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.container__header__OrdenDiv--list ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.container__header__OrdenDiv--list img {
  max-width: 100px;
}

.container {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 40vh; 
  /* height 40vh */
}
.container .container__content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  min-width: 10vw;
  max-width: 76%;
  background-color: #111;
  margin: 172px 152px 0px 0px;
  padding: 0px 0px 0px 0px ;
}
.container .container__content .container__content__title {
  height: 20vh;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.container .container__content .container__content__listOption {
  display: flex;
  flex-flow: row wrap;
  min-width: 50vw;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 3px 38px 8px 2px;
  padding: 0px 0px 0px 0px ;
}
.container .container__content  .container__content__option {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  padding: 23px;
  width: 150px;
  min-height: 150px;
  list-style: none;
  background-color: #9A9C9C;
  /* color: antiquewhite; */
  border-radius: 30px;
  box-shadow: 0 0 10px 2px #000;
   transition: 0.1s; 
}
/* .container .container__content .container__content__option:hover  {
  transform: translateY(20px);
} */
.container .container__content .container__content__option .container__content__option--image  {
  margin-top: -50px;
  max-width: 250px;
  max-height: 150px;
}
.container .container__content .container__content__option .container__content__option--name .container .container__content .container__content__option .container__content__option--price
{
  color: white;
}
.container .container__content .container__content__option .container__content__option--nombre
{
  font-family: fantasy;
  font-size: 1.4rem;
}
.container .container__content .container__content__option .container__content__option--precio {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}


.container__content__option--btnAdd {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #A6371F;
  text-shadow: 1px 0px #111;
  font-family: "fantasy";
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.container__content__option--btnDel {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: red;
  text-shadow: 1px 0px #111;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
}

.container__content__option--btnClose{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  cursor: pointer;
  font-family: "Alfa Slab One";
  color: white;
  background-color: #A6371F;
  font-size: 1.2rem;
}


.container__header__OrdenDiv--btnOrden {
  cursor: pointer;
  /* background-color: transparent; */
  background-image: url("https://github.com/mailys50/SCL016-burger-queen/blob/develop4/src/asset/img/carrito.png?raw=true");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 80px;
  height: 80px;
}

/* .container__header__menu--button {
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://raw.githubusercontent.com/juanmanuelcrego/react-states-hooks/master/src/images/menu.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
}  */