.container .container__content .container__content__burgers {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    width: 200px;
    min-height: 200px;
    list-style: none;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #000;
    transition: 0.4s;
  }
  .container .container__content .container__content__burgers:hover {
    transform: translateY(20px);
  }